:root {
  /* SIZES */
  --border-top: 8px;
  --position-top: 100px;

  /* COLORS */
  --color-red: #ff3d55;
  --color-white-dark: #f5f4fa;
  --color-grey: #878696;
  --color-font: rgba(255, 255, 255, 0.87);
}
