:root {
  --size-pagination: 60px;
  --size-card: 300px;
}

.app {
  & header {
    height: 280px;
    width: 100%;
    background: var(--color-red);

    & h1,
    & p {
      text-align: center;
    }

    & h1 {
      margin-bottom: 20px;
    }

    & .header-navbar {
      height: 10%;
      width: 100%;
      padding: 50px 100px;
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: inherit;
      z-index: 10000;

      & .brand {
        user-select: none;
        width: 15%;
        display: inline-flex;
        align-items: center;
        column-gap: 10px;

        & img {
          width: 68px;
          height: auto;
        }

        & h2 {
          font-size: 36px;
          font-family: signika;
          font-weight: 600;
        }
      }

      & ul {
        list-style: none;
        width: 70%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;

        & li {
          user-select: none;
          cursor: pointer;
          width: 60px;
          text-align: center;

          &.active {
            font-weight: 700;
          }

          &:hover {
            font-weight: 700;
          }
        }
      }

      & .tools {
        width: 15%;
        text-align: right;

        & svg {
          cursor: pointer;
          margin-left: 30px;
        }
      }
    }

    & .header-banner {
      user-select: none;
      height: calc(90% - 100px);
      width: 100%;
      padding: 0 100px;
      position: relative;
      top: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  & main {
    width: max-content;
    height: auto;
    margin: auto;
    position: relative;
    padding: 20px 0 var(--size-pagination) 0;
    background: #fefefe;

    & section.category-bar {
      width: 1000px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      & form {
        width: 100%;
        height: max-content;
        margin-top: -48px;
        padding: 20px 65px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        column-gap: 25px;
        border: 0.5px solid var(--color-grey);
        border-radius: 0;
        background-color: #fff;
        z-index: 2;

        & .shapes {
          & svg {
            cursor: pointer;
            margin-right: 15px;
            font-size: 22px;
            color: var(--color-red);

            &.active {
              transform: scale(1.2) !important;
            }

            &:hover {
              transition: transform 0.12s ease-in-out 0s;
              transform: scale(1.2);
            }
          }
        }
      }
    }

    & section.games-list {
      width: 100%;

      & .items {
        width: 100%;
        margin-top: 40px;
        padding-bottom: 40px;

        display: grid;
        grid-template-rows: auto;
        align-content: center;
        justify-items: center;
        justify-content: space-between;
        column-gap: 20px;
        row-gap: 40px;

        & .card {
          width: var(--size-card);
          height: calc(var(--size-card) + 40px);
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          background: var(--color-white-dark);

          & img {
            width: 100%;
            height: auto;
          }

          & .content {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            row-gap: 4px;

            & span {
              font-weight: 700;
              color: var(--color-grey);

              &.title {
                text-transform: uppercase;
                color: #000;
              }

              &.price {
                color: #000;
              }
            }

            & .stars {
              & svg {
                color: var(--color-red);
                margin-right: 5px;
              }
            }
          }
        }
      }

      & .pagination {
        width: 1000px;
        height: var(--size-pagination);
        margin: auto;

        /* position: fixed; */
        /* right: 0;
        bottom: 0;
        left: 0; */

        background: var(--color-white-dark);

        & .content {
          height: 100%;
          padding: 10px 0;
          display: flex;
          align-items: center;
          justify-content: center;

          & button {
            height: 100%;
            margin: 20px;
            padding: 0 40px;

            &[disabled] {
              visibility: hidden;
            }
          }

          & .page {
            cursor: pointer;
            user-select: none;
            height: 35px;
            width: 35px;
            height: 100%;
            margin: 0 5px;
            padding: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            background: #fff;
            border: 0.5px solid var(--color-white-dark);
            font-weight: 700;
            color: var(--color-red);

            & span {
              color: inherit;
            }

            &.active {
              color: #fff;
              background: var(--color-red);
            }
          }
        }
      }
    }
  }
}
