.app {
  & header {
    height: 280px;
    padding: 40px 100px;
    background: #ff3d55;
    color: rgba(255, 255, 255, 0.87);

    & h1,
    & p {
      text-align: center;
    }

    & h1 {
      margin-bottom: 20px;
    }

    & .navbar {
      margin-bottom: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & .brand {
        width: 15%;
        display: inline-flex;
        align-items: center;
        column-gap: 10px;

        & img {
          width: 68px;
          height: auto;
        }

        & h2 {
          font-size: 36px;
          font-family: signika;
          font-weight: 600;
        }
      }

      & ul {
        list-style: none;
        width: 70%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 40px;
      }

      & .tools {
        width: 15%;
        text-align: right;

        & svg {
          margin-left: 30px;
        }
      }
    }
  }

  & main {
    width: 1000px;
    height: calc(100vh - 250px - 46px);
    margin: auto;
    padding: 20px;
    background: #fefefe;

    & section.category-bar {
      width: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      & form {
        width: 100%;
        height: max-content;
        margin-top: -48px;
        padding: 20px 65px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        column-gap: 25px;
        border: 0.5px solid var(--color-black-light);
        border-radius: 0;
        background-color: #fff;
        z-index: 2;

        & .shapes {
          & svg {
            cursor: pointer;
            margin-right: 15px;
            font-size: 22px;
            color: var(--color-red);

            &.active {
              transform: scale(1.2) !important;
            }

            &:hover {
              transition: transform 0.12s ease-in-out 0s;
              transform: scale(1.2);
            }
          }
        }
      }
    }

    & section.games-list {
      width: 100%;
      display: flex;
      margin-top: 40px;
      padding-bottom: 40px;
      flex-flow: wrap;
      align-items: center;
      justify-content: space-between;
      column-gap: 25px;
      row-gap: 50px;

      & .card {
        width: 300px;
        height: 250px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #f5f4fa;

        & img {
          width: 100%;
          height: auto;
        }

        & .content {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          row-gap: 4px;

          & span {
            font-weight: 700;

            &.title {
              text-transform: uppercase;
              color: var(--color-black-light);
            }
          }

          & .stars {
            & svg {
              color: var(--color-red);
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
