.app {
  & header {
    height: 250px;
    padding: 40px 100px;
    background: #00c1e3;
    color: rgba(255, 255, 255, 0.87);

    & h1,
    & p {
      text-align: center;
    }

    & h1 {
      font-size: 45px;
      margin-bottom: 10px;
    }

    & .navbar {
      margin-bottom: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      & ul {
        list-style: none;
        width: 20%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 10px;
      }
    }
  }

  & main {
    width: 100%;
    height: calc(100vh - 250px);
    padding: 20px;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    row-gap: 50px;
    background: #fdfdfd;

    & .loading {
      text-align: center;
    }

    & .card {
      width: 300px;
      height: 250px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #f5f4fa;

      & img {
        width: 100%;
        height: auto;
      }

      & .content {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        & span {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }
}
